<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <h1>Create Account</h1>
    <form>
    <ion-list>
    <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input autocomplete="off" type="text" [(ngModel)]="email" name="email" ></ion-input>
    </ion-item>
    
    <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input autocomplete="off" type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="dark" (click)="signupUser(email,password)">Signup</ion-button>
                <ion-button expand="block" share="round" color="dark" routerLink='/login'>Have a Account?</ion-button>
  </form> 
</ion-content>