<ion-content padding='true'>
<h1 style="text-align: center">You are in the Home Page!</h1>
<p style="text-align: center">Click on the tabs below to get started</p>

</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button tab="feed">
  <ion-icon name="newspaper-outline"></ion-icon>
  <ion-label>Feed</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="messages">
  <ion-icon name="chatbox-outline"></ion-icon>
  <ion-label>Messages</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="notifications">
  <ion-icon name="notifications"></ion-icon>
  <ion-label>Notifications</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="settings">
  <ion-icon name="cog"></ion-icon>
  <ion-label>Settings</ion-label>
  </ion-tab-button>
  
  </ion-tab-bar>
  </ion-tabs>



